<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="static/maps.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">


  </head>
  <body>
    <div id="control">
              <b>Start: </b>
        <input type="text" id="start" name="Start" value="500 7th Ave, NYC">
        <b>End: </b>
        <input type="text" id="end" name="end" value="1 Wall St, New York, NY">
        <select id="mode">
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT"s>Transit</option>
            <option value="DRIVING">Driving</option>
        </select>
        <button onclick="calcRoute()">Submit</button>
    </div>
    <div id="directions-panel"></div>
    <div id="map-canvas"></div>
  </body>
</html>
